@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --oscuro: #222222;
    --enfasis: #D01418;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #e9eaeb;
}

a {
    text-decoration: none;
    color: white;
}

.enfasis {
    text-transform: capitalize;
    color: var(--enfasis);
}

/** Header **/

header, footer {
    background-color: var(--oscuro);
}

/** LOGO **/

.logo {
    display: flex;
    align-items: baseline;
    padding: 0.3rem;
}

.logo img {
    display: inline-block;
    box-sizing: content-box;
    height: 1.8rem;
    margin: 1rem 0.5rem;
}

h1 {
    font-size: 2rem;
    text-transform: capitalize;
    color: white;
}

header>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/** NAV **/

.menu-button {
    padding: 2rem;
}

nav {
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav a {
    padding: 0.5rem;
}

.changuito {
    font-size: 2rem;
}

/*** Body ***/

/** Heroe **/

.hero {
    background: url('../img/fondo_heroe.svg') red center/cover no-repeat;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    justify-items: start;
    height: 45vh;
}

.hero h2 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.hero a {
    display: inline-block;
    color: white;
    background-color: red;
    padding: 1rem 3rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
}

/** card **/

h3 {
    font-size: 2em;
    text-align: center;
    text-transform: capitalize;
    margin: 2rem;
}

.destacados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 3vw;
    row-gap: 3vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-width: 200px;
    background-color: white;
    border-radius: 1rem;
}

.portrait {
    text-align: center;
    padding: 10%;
}

.info-pago {
    border-top: 1px solid grey;
    padding: 5%;
}

.precio {
    font-size: 1.2rem;
}

.cuotas {
    font-size: 0.8rem;
    padding: 0.2rem 0rem;
}

.envio {
    font-size: 0.6rem;
    color: #619D00;
}

/** Seccion prod estrella**/

.productos-estrella {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 3vw;
    row-gap: 3vh;
}

.stared {
    min-width: 330px;
    height: 130px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.stared-text {
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
}

.sillas {
    background: url('../img/sillas.svg') purple no-repeat center/cover;
}

.computadoras {
    background: url('../img/computadoras.svg') purple no-repeat center/cover;
}

/** footer **/

footer {
    margin-top: 2rem;
    color: white;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-redes {
    font-weight: 400;
    font-size: 1.5rem;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    font-size: 1.5rem;
    padding: 1rem;
}

.footer-bottom {
    background-color: #C4C4C4;
}

.derechos {
    color: #000;
    font-size: 0.5rem;
    padding: 0.7rem;
    text-align: center;
}

@media all and (min-width: 700px) /*and (orientation: portrait)*/{
    .destacados, .productos-estrella, .footer-top {
        justify-content: center;
        flex-direction: row;
    }

    .footer-top {
        justify-content: space-around;
    }

    .menu-button {
        display: none;
    }

    nav {
        display: block;

    }
}